/*---------------------------- COLORS Variables ---------------------------*/
/*---------------------- SHADOWS & BORDERS Variables ----------------------*/
/*---------------------- FONTS Variables ----------------------*/
/*---------------------- BACKGROUND VIDEO Settings ----------------------*/
#background-video {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  position: absolute;
  z-index: 0;
  animation: blur 2s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

/*--- Appear animation ---*/
@keyframes blur {
  from {
    filter: blur(0) opacity(100%);
  }
  to {
    filter: blur(25px) opacity(50%);
  }
}
/*-------------- HERO Settings --------------*/
.hero-container {
  display: flex;
  flex-direction: column;
  margin: 20vh 0;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#hero-logo {
  width: 300px;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#logo-subtitle {
  font-size: 90px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100%;
}

#logo-title {
  margin-top: 10px;
  font-size: 130px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
}

#logo-slogan {
  font-size: 52px;
  text-transform: none;
  font-weight: 400;
  line-height: 100%;
}

/*---------------------- CRADS GRID Settings ----------------------*/
.description-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* Full size */
  width: 100%;
  max-width: 2550px;
  margin: 80px 0;
  padding: 0 10px;
  z-index: 1;
  /* 1000px width */
  /*width: 1000px;
  margin: 90px auto;*/
}

.description-card-xl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/img/test/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  aspect-ratio: 27/21;
  width: 100%;
  max-width: 1255px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15), -10px -10px 15px #FFFFFF;
}

.card-inscription-xl {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid rgba(254, 254, 254, 0.5);
  border-radius: 20px;
  background-color: rgba(254, 254, 254, 0.5);
  -webkit-backdrop-filter: blur(65px);
          backdrop-filter: blur(65px);
  width: 100%;
  padding: 0 20px;
  /* Dependet geight */
  height: 25%;
  justify-content: center;
}

.card-inscription-xl p {
  max-width: 700px;
}

.description-card-xl button {
  margin-bottom: 10px;
  margin-left: 10px;
}

/*-------------- CARDS INDIVIDUAL settings --------------*/
#new-hotel-card-xl {
  background-image: url("../content/images/description-cards/hotel_view.jpg");
  grid-column-start: 1;
  grid-column-end: 3;
  aspect-ratio: 54/21;
  max-width: 2530px;
}

#bathroom-card-xl {
  background-image: url("../content/images/description-cards/bathroom.jpg");
}

#grill-zone-card-xl {
  background-image: url("../content/images/description-cards/grill-zone.jpg");
}

#w-fi-card-xl {
  background-image: url("../content/images/description-cards/wi-fi.jpg");
}

#w-fi-card-xl > .card-inscription-xl {
  background: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  border: none;
}

#parking-zone-card-xl {
  background-image: url("../content/images/description-cards/parking-zone.jpg");
}

#parking-zone-card-xl > .card-inscription-xl {
  background: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  border: none;
}

#coffe-card-xl {
  background-image: url("../content/images/description-cards/coffe.jpg");
}

#terrace-card-xl {
  background-image: url("../content/images/description-cards/terrace.jpg");
}

#kids-zone-card-xl {
  background-image: url("../content/images/description-cards/kids-zone.jpg");
}

#kitchen-card-xl {
  background-image: url("../content/images/description-cards/kitchen.jpg");
}

#beach-card-xl {
  background-image: url("../content/images/description-cards/beach.jpg");
}

#room-card-xl {
  background-image: url("../content/images/description-cards/room.jpg");
}

/*-------------- SERVICES Settings --------------*/
.services-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  align-items: center;
  gap: 40px;
}

#services-lists-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.list-container {
  width: 100%;
}

/*-------------- REVIEWS SWIPER Settings --------------*/
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 80px 0;
}

.reviews-swiper-container {
  width: 100%;
}

#reviews-swiper {
  width: 100%;
  padding: 10px 0;
}

#reviews-swiper .swiper-slide {
  background: whitesmoke;
  height: calc((100% - 30px) / 2) !important;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), -3px -3px 7px #FFFFFF;
  padding: 20px;
  overflow: hidden;
}

.review-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  gap: 5px;
}

.review-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  text-overflow: ellipsis;
  height: 100%;
}

.review-date {
  color: #C7C7C7;
}

/*-------------- ADAPTIVITY Settings --------------*/
@media (max-width: 1020px) {
  #hero-logo {
    width: 25.7vw;
  }
  #logo-subtitle {
    font-size: 8.3vw;
  }
  #logo-title {
    font-size: 12vw;
  }
  #logo-slogan {
    font-size: 4.8vw;
  }
  #services-lists-wrapper {
    padding: 0 10px;
  }
  .description-cards-grid, .services-container {
    margin: 40px 0;
  }
  #reviews-swiper .swiper-slide {
    max-width: calc(100% - 20px);
  }
}
@media (max-width: 937px) {
  #services-lists-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .list-container {
    align-items: center;
    max-width: 500px;
    min-width: 449px;
  }
  .list-dot-l-no-s {
    justify-content: center;
  }
  .reviews-container {
    max-width: 520px;
  }
}
@media (max-width: 767px) {
  .description-cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #new-hotel-card-xl {
    grid-column: auto;
    aspect-ratio: 27/24;
  }
  .description-card-xl {
    aspect-ratio: 27/24;
  }
}
@media (max-width: 479px) {
  .hero-container {
    margin: 30vh 0;
  }
  .list-container {
    min-width: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px #FFFFFF;
    padding: 20px 10px 10px 10px;
    border-radius: 25px;
  }
  .bubbles-list {
    gap: 20px;
  }
  .list-dot {
    justify-content: space-between;
    height: 62px;
    border-radius: 21px;
  }
  .card-inscription-xl {
    height: 35%;
  }
  .list-container h3 {
    margin: 0;
  }
  .description-card-xl, #new-hotel-card-xl {
    aspect-ratio: 45/60;
  }
}
@media (max-width: 325px) {
  .list-2-dot-addition-container .list-dot-addition {
    padding: 0px 5px;
  }
}/*# sourceMappingURL=about-us.css.map */