/*---------------------------- COLORS Variables ---------------------------*/
/*---------------------- SHADOWS & BORDERS Variables ----------------------*/
.__shadow-w-l1 {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15), -3px -3px 5px #FFFFFF;
}

.__shadow-w-l2 {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px #FFFFFF;
}

.__shadow-w-l3 {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15), -10px -10px 15px #FFFFFF;
}

.__shadow-g-l1 {
  box-shadow: 3px 3px 5px #A1D0B4, -3px -3px 5px #FFFFFF;
}

.__noshadow {
  box-shadow: none;
}

/*---------------------- FONTFACE Settings ----------------------*/
@font-face {
  font-weight: 800;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../fonts/nt_somic/eot/ntsomic-bold.woff2");
  src: local("NT Somic Bd"), url("../fonts/nt_somic/woff2/ntsomic_bold.woff2") format("web2"), url("../fonts/nt_somic/otf/ntsomic_bold.otf") format("opentype"), url("../fonts/nt_somic/ttf/ntsomic_bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../fonts/nt_somic/eot/ntsomic-semibold.woff2");
  src: local("NT Somic SmBd"), url("../fonts/nt_somic/woff2/ntsomic_semibold.woff2") format("web2"), url("../fonts/nt_somic/otf/ntsomic_semibold.otf") format("opentype"), url("../fonts/nt_somic/ttf/ntsomic_semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../fonts/nt_somic/eot/ntsomic_medium.woff2");
  src: local("NT Somic Md"), url("../fonts/nt_somic/woff2/ntsomic_medium.woff2") format("web2"), url("../fonts/nt_somic/otf/ntsomic_medium.otf") format("opentype"), url("../fonts/nt_somic/ttf/ntsomic_medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../fonts/nt_somic/eot/ntsomic_regular.woff2");
  src: local("NT Somic Rg"), url("../fonts/nt_somic/woff2/ntsomic_regular.woff2") format("web2"), url("../fonts/nt_somic/otf/ntsomic_regular.otf") format("opentype"), url("../fonts/nt_somic/ttf/ntsomic_regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 800;
  font-family: "White Lotus";
  font-style: normal;
  src: url("../fonts/white_lotus/woff2/WhiteLotus-Bold.woff2");
  src: local("White Lotus Bd"), url("../fonts/white_lotus/woff2/WhiteLotus-Bold.woff2") format("web2"), url("../fonts/white_lotus/otf/WhiteLotus-Bold.otf") format("opentype"), url("../fonts/white_lotus/ttf/WhiteLotus-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: "White Lotus";
  font-style: normal;
  src: url("../fonts/white_lotus/woff2/");
  src: local("White Lotus Md"), url("../fonts/white_lotus/woff2/WhiteLotus-Medium.woff2") format("web2"), url("../fonts/white_lotus/otf/WhiteLotus-Medium.otf") format("opentype"), url("../fonts/white_lotus/ttf/WhiteLotus-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: "White Lotus";
  font-style: normal;
  src: url("../fonts/white_lotus/woff2/");
  src: local("White Lotus Rg"), url("../fonts/white_lotus/woff2//WhiteLotus-Regular.woff2") format("web2"), url("../fonts/white_lotus/otf/WhiteLotus-Regular.otf") format("opentype"), url("../fonts/white_lotus/ttf/WhiteLotus-Regular.ttf") format("truetype");
  font-display: swap;
}
/*---------------------- FONTS Variables ----------------------*/
/*---------------------- GENERAL Settings ----------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-moz-selection {
  color: #FEFEFE;
  background-color: #42D07A;
}

*::selection {
  color: #FEFEFE;
  background-color: #42D07A;
}

html, body {
  position: absolute;
  background-color: whitesmoke;
  width: 100%;
  color: #1D1D1F;
  font-family: "NT Somic";
  scroll-behavior: smooth;
  animation: appear 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow-x: clip;
}

/*---------------------- ANIMATIONS Settings ----------------------*/
/*--- Appear animation ---*/
@keyframes appear {
  from {
    opacity: 25%;
    filter: blur(25px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
/*-------------- SUBGLOBAL Appear Animations Settings --------------*/
._element-active-l1 {
  opacity: 1 !important;
  filter: blur(0px) !important;
}

/*---------------------- TEXT Settings ----------------------*/
h1 {
  font-size: 150px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
}

h2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 100%;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: -0.75px;
}

h3 {
  font-size: 21px;
  font-weight: 800;
  line-height: 140%;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: -0.25px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

#page-title {
  display: none;
}

/*---------------------- BUTTONS Settings ----------------------*/
button {
  background-color: #42D07A;
  background: linear-gradient(145deg, #47df83, #3bbb6e);
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15), -3px -3px 5px #FFFFFF;
  color: #FEFEFE;
  font-family: "NT Somic";
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.text-button {
  padding: 11px 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 155%;
  color: #FEFEFE;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.icon-button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.bordered-button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 3px solid #42D07A;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.icon-bordered-button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 3px solid #42D07A;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.text-icon-button {
  padding: 11px 21px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 400;
  line-height: 155%;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.mobile-header-button {
  background: none;
  border-radius: 0;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.s-icon-container {
  height: 13px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.l-icon-container {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.button-right-icon .l-icon-container {
  transform: translateX(1px);
}

.button-left-icon .l-icon-container {
  transform: translateX(-1px);
}

._nopress-button:active {
  transform: translate(-50%, 0) !important;
}

button:disabled {
  background: none;
  background-color: #C7C7C7;
  color: #6E6E73;
  box-shadow: none;
  pointer-events: none;
}

button.disabled {
  background-color: whitesmoke;
  background: linear-gradient(145deg, #dddddd, #ffffff);
  color: #6E6E73;
}

/*---------------------- BUTTONS Adaptivity Settings ----------------------*/
@media (width > 1024px) {
  button:active, .icon-button:active {
    box-shadow: none;
    transform: scale(1) !important;
  }
  .text-button:hover, .icon-button:hover {
    transform: scale(1.05);
  }
  .button-txt-down-icon:hover .s-icon-container {
    transform: translateY(3px);
  }
}
/*---------------------- DESCKTOP HEADER Settings ----------------------*/
header {
  z-index: 5;
  position: fixed;
  top: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 25px;
  border-radius: 27px;
  width: 100%;
  max-width: 1000px;
  min-width: 834px;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in;
  transition-delay: 0.2s;
}

header a {
  text-decoration: none;
  color: #1D1D1F;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-wrap: nowrap;
}

.navi-contact {
  color: #6E6E73;
}

.navi {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header a:hover {
  color: black;
}

.navi a:hover {
  color: black;
}

/*---------------------- MOBILE HEADER Settings ----------------------*/
.mobile-navi-element {
  display: none;
}

.right-navi-container {
  display: none;
  flex-direction: row;
  gap: 5px;
}

.burger-container {
  position: relative;
  display: none;
  height: 48px;
  width: 48px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.6, 1) 0.1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}

.bar {
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
  border-radius: 3px;
  background: #42D07A;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.6, 1);
}

.bar.topBar {
  transform: translateY(0px) rotate(0deg);
}

.bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}

.mobile-menu {
  position: absolute;
  list-style: none;
  top: 60px;
  left: 25px;
  opacity: 0%;
  pointer-events: none;
  transition: all 0.24s ease-in;
}

header ul.mobile-menu li.mobile-menu-item {
  margin-top: 15px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  opacity: 0.6s cubic-bezier(0.4, 0, 0.6, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.6, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.6, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.6, 1);
}

header ul.mobile-menu li.mobile-menu-item a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 21px;
  width: 100%;
}

header.menu-opened {
  height: 100vh;
  background-color: whitesmoke;
  border-radius: 0;
  transition: all 0.3s ease-in;
}

header.menu-opened .mobile-menu {
  pointer-events: all;
  opacity: 100%;
  transition: all 0s;
}

header.menu-opened .burger-container #burger .bar {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.6, 1);
}

header.menu-opened .burger-container #burger .bar.topBar {
  transform: translateY(5px) rotate(45deg);
}

header.menu-opened .burger-container #burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}

header.menu-opened ul.mobile-menu li.mobile-menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}

header.menu-opened ul.mobile-menu li.mobile-menu-item:nth-child(1) {
  transition-delay: 0.15s;
}

header.menu-opened ul.mobile-menu li.mobile-menu-item:nth-child(2) {
  transition-delay: 0.2s;
}

header.menu-opened ul.mobile-menu li.mobile-menu-item:nth-child(3) {
  transition-delay: 0.25s;
}

header.menu-opened ul.mobile-menu li.mobile-menu-item:nth-child(4) {
  transition-delay: 0.3s;
}

header.menu-opened ul.mobile-menu li.mobile-menu-item:nth-child(5) {
  transition-delay: 0.35s;
}

header.menu-opened ul.mobile-menu li.mobile-menu-item:nth-child(6) {
  transition-delay: 0.4s;
}

header.menu-opened ul.mobile-menu li.mobile-menu-item:nth-child(7) {
  transition-delay: 0.45s;
}

/*---------------------- FOOTER Settings ----------------------*/
footer {
  background-color: #42D07A;
  display: flex;
  justify-content: space-evenly;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 30px 0;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1020px;
  padding: 0 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20px;
}

.footer-copyright-container {
  height: 100%;
  align-self: flex-end;
}

.footer-copyright-container a {
  text-decoration: none;
  color: #FEFEFE;
}

.footer-copyright-container a::-moz-selection {
  color: #42D07A;
  background-color: whitesmoke;
}

.footer-copyright-container a::selection {
  color: #42D07A;
  background-color: whitesmoke;
}

.footer-social-media-icons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  align-self: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer-social-media-icons-container a {
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0;
}

.footer-social-media-icons-container img {
  width: 35px;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  text-align: right;
  text-wrap: wrap;
  align-self: flex-end;
}

.footer-contacts-container a {
  text-decoration: none;
  color: #FEFEFE;
}

.footer-contacts-container a::-moz-selection {
  color: #42D07A;
  background-color: whitesmoke;
}

.footer-contacts-container a::selection {
  color: #42D07A;
  background-color: whitesmoke;
}

/*---------------------- LIST Settings ----------------------*/
.list-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  gap: 20px;
}

.list-container h3 {
  margin-left: 15px;
}

.bubbles-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.list-dot {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  color: #6E6E73;
  border-radius: 25px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15), -3px -3px 5px #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding: 5px 15px;
  gap: 5px;
}

#calendar-description-list-dot {
  text-overflow: ellipsis;
  min-width: 190px;
}

.list-text {
  height: -moz-fit-content;
  height: fit-content;
}

.list-2-dot-addition-container {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  height: 100%;
  gap: 5px;
}

.list-dot-addition {
  background-color: whitesmoke;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  align-content: center;
  border-radius: 21px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15), -3px -3px 5px #FFFFFF;
  color: #42D07A;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  padding: 1px 15px;
  margin-left: 5px;
  text-wrap: nowrap;
}

.list-dot-addition::-moz-selection {
  color: whitesmoke;
  background-color: #42D07A;
}

.list-dot-addition::selection {
  color: whitesmoke;
  background-color: #42D07A;
}

.list-dot-l-no-s {
  padding: 5px 15px;
  width: 100%;
  justify-content: space-between;
}

.list-dot-l-1-s {
  padding: 4px 4px 4px 15px;
  width: 100%;
  justify-content: space-between;
}

.list-dot-l-2-s {
  padding: 4px 4px 4px 15px;
  width: 100%;
  justify-content: space-between;
}

.list-dot-c-1-s {
  padding: 4px 4px 4px 15px;
}

.list-dot-c-1-s .list-dot-addition {
  margin: 0 0 0 5px;
}

.list-dot-c-no-l {
  background-color: #42D07A;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

/*---------------------- SWIPER Settings ----------------------*/
.swiper-pagination-bullet {
  background-color: #6E6E73;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.swiper-pagination-bullet-active {
  background-color: #42D07A;
}

/*---------------------- ORDER MODULE Settings ----------------------*/
.order-module-background {
  background: whitesmoke;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 40px;
  background-color: whitesmoke;
  opacity: 0%;
  pointer-events: none;
  overflow-y: scroll;
  transition: all 0.4s cubic-bezier(0.15, 0.35, 0.2, 0.95);
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 40px;
  background: whitesmoke;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px #FFFFFF;
  border-radius: 35px;
}

.order-form-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.order-form-subcontainer strong {
  font-weight: 600;
  margin-left: 10px;
}

.order-form-input {
  font-size: 14px;
  font-family: "NT Somic";
  border: none;
  height: 44px;
  background: whitesmoke;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), -5px -5px 10px #FFFFFF;
  border-radius: 15px;
  padding-inline: 15px;
  padding-block: 10px;
  width: 400px;
  transition: all 0.2s ease;
}

.order-form-input:focus-visible {
  outline: none;
  transform: scale(1.05);
}

#close-order-module-button {
  background: none;
  border-radius: 0;
  box-shadow: none;
  color: #6E6E73;
}

#close-order-module-button:hover {
  transform: none;
}

/*---------------------- ADAPTIVITY Settings ----------------------*/
@media (max-width: 1280px) {
  .order-form {
    padding: 0px;
    background: whitesmoke;
    box-shadow: none;
    border-radius: 0px;
  }
}
@media (max-width: 1024px) {
  .desktop-navi-element {
    display: none;
  }
  .mobile-navi-element {
    display: flex;
  }
  .right-navi-container {
    display: flex;
  }
  header {
    min-width: 0;
    width: 100%;
    border-radius: 0;
    max-width: 100vw;
    top: 0;
    margin: 0;
    height: 48px;
    padding: 0 15px;
    align-items: flex-start;
    background-color: rgba(245, 245, 245, 0.65);
    -webkit-backdrop-filter: blur(150px);
            backdrop-filter: blur(150px);
    left: auto;
    transform: none;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column-reverse;
  }
  .footer-copyright-container, .footer-social-media-icons-container, .footer-contacts-container {
    align-self: center;
    text-align: center;
  }
  .order-form-input {
    width: calc(100vw - 20px);
  }
}
@media (max-width: 479px) {
  button {
    font-size: 14px;
  }
}
@media (max-height: 835px) {
  .order-module-background {
    align-items: flex-start;
  }
}/*# sourceMappingURL=main.css.map */