/*---------------------------- COLORS Variables ---------------------------*/
/*---------------------- SHADOWS & BORDERS Variables ----------------------*/
/*---------------------- FONTFACE Settings ----------------------*/
@font-face {
  font-weight: 800;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic-bold.woff2");
  src: local("NT Somic Bd"), url("../../fonts/nt_somic/woff2/ntsomic-bold.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic-bold.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic-bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic-semibold.woff2");
  src: local("NT Somic SmBd"), url("../../fonts/nt_somic/woff2/ntsomic-semibold.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic-semibold.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic-semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic_medium.woff2");
  src: local("NT Somic Md"), url("../../fonts/nt_somic/woff2/ntsomic_medium.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic_medium.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic_medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic_regular.woff2");
  src: local("NT Somic Rg"), url("../../fonts/nt_somic/woff2/ntsomic_regular.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic_regular.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic_regular.ttf") format("truetype");
  font-display: swap;
}
/*---------------------- FONTS Variables ----------------------*/
/*---------------------- GENERAL Settings ----------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-moz-selection {
  color: #FEFEFE;
  background-color: #42D07A;
}

*::selection {
  color: #FEFEFE;
  background-color: #42D07A;
}

html, body {
  position: absolute;
  background-color: #FEFEFE;
  width: 100%;
  color: #1D1D1F;
  font-family: "NT Somic";
  scroll-behavior: smooth;
  animation: appear 1.5s;
  animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}

/*--- Appear animation ---*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

/*---------------------- TITLES Settings ----------------------*/
h1 {
  font-size: 150px;
  line-height: 100%;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 100%;
}

h3 {
  font-size: 21px;
  font-weight: 800;
  line-height: 140%;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

/*---------------------- BUTTONS Settings ----------------------*/
button {
  background-color: #42D07A;
  border-radius: 15px;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.1s ease;
}

.text-button {
  padding: 11px 21px;
  font-size: 14px;
  font-weight: 500;
  line-height: 155%;
  color: #FEFEFE;
}

.icon-button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.bordered-button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFEFE;
  border: 3px solid #42D07A;
}

.icon-bordered-button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEFEFE;
  border: 3px solid #42D07A;
}

.text-icon-button {
  padding: 11px 21px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #FEFEFE;
}

.s-icon-container {
  height: 13px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-icon-container {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #49e085;
}

button:active {
  background-color: #3cbb6f;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #49e085;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: #3cbb6f;
}

/*---------------------- HEADER Settings ----------------------*/
header {
  z-index: 5;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FEFEFE;
  box-shadow: 0 0 10px rgba(20, 63, 37, 0.2);
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 30px;
  border-radius: 27px;
  width: 100%;
  max-width: 1000px;
  margin: 35px auto 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #1D1D1F;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-wrap: nowrap;
}

.navi {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header a:hover {
  color: black;
}

.navi a:hover {
  color: black;
}

/*---------------------- FOOTER Settings ----------------------*/
footer {
  background-color: #42D07A;
  display: flex;
  justify-content: space-evenly;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 30px 0;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1020px;
  padding: 0 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.footer-copyright-container {
  height: 100%;
  align-self: flex-end;
}

.footer-copyright-container a {
  text-decoration: none;
  color: #FEFEFE;
}

.footer-copyright-container a::-moz-selection {
  color: #42D07A;
  background-color: #FEFEFE;
}

.footer-copyright-container a::selection {
  color: #42D07A;
  background-color: #FEFEFE;
}

.footer-social-media-icons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  align-self: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer-social-media-icons-container a {
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0;
}

.footer-social-media-icons-container img {
  width: 35px;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  text-align: right;
  text-wrap: wrap;
  align-self: flex-end;
}

.footer-contacts-container a {
  text-decoration: none;
  color: #FEFEFE;
}

.footer-contacts-container a::-moz-selection {
  color: #42D07A;
  background-color: #FEFEFE;
}

.footer-contacts-container a::selection {
  color: #42D07A;
  background-color: #FEFEFE;
}

/*---------------------- list LIST Settings ----------------------*/
.list-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  gap: 20px;
}

.bubbles-list {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
}

.list-dot {
  display: flex;
  flex-direction: row;
  border: 1px solid #42D07A;
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding: 8px 15px;
  gap: 5px;
}

.list-dot-addition {
  background-color: #42D07A;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  padding: 8px 15px;
  margin-left: 5px;
  margin-right: -1px;
}

.list-dot-addition::-moz-selection {
  color: #42D07A;
  background-color: #FEFEFE;
}

.list-dot-addition::selection {
  color: #42D07A;
  background-color: #FEFEFE;
}

.list-dot-l-no-s {
  padding: 8px 15px;
}

.list-dot-l-1-s {
  padding: 0 0 0 15px;
}

.list-dot-l-2-s {
  padding: 0 0 0 15px;
}

.list-dot-c-1-s {
  padding: 0 15px 0 0;
}

.list-dot-c-1-s .list-dot-addition {
  margin: 0 5px 0 -1px;
}

.list-dot-c-no-l {
  background-color: #42D07A;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.swiper {
  box-shadow: 0 0 10px rgba(20, 63, 37, 0.2);
}

/*---------------------- TEST ----------------------*/
@media screen and (max-height: 880px) {
  #page-title {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */