/*---------------------------- COLORS Variables ---------------------------*/

$white: whitesmoke;
$background-white: whitesmoke;
$text-white: #FEFEFE;
$accent-color: #42D07A;
$dark-color: #1D1D1F;
$grey-color: #6E6E73;
$light-grey-color: #C7C7C7;
$disabled-accent-color: #84E0A8;
$red-color: #D14A41;
$blured-white: rgba(245, 245, 245, .65);
$blured-white-border: 2px solid rgba(245, 245, 245, .75);
$blur-fx: blur(150px);



/*---------------------- SHADOWS & BORDERS Variables ----------------------*/

$shadow-l1: 3px 3px 7px rgba(0, 0, 0, .15), -3px -3px 7px #FFFFFF;
$shadow-l2: 5px 5px 10px rgba(0, 0, 0, .15), -5px -5px 10px #FFFFFF;
$shadow-l3: 10px 10px 15px rgba(0, 0, 0, .15), -10px -10px 15px #FFFFFF;
$shadow-green-l2: 5px 5px 10px #A1D0B4, -5px -5px 10px #FFFFFF;
$border-radius-l1: 15px;
$border-radius-l2: 25px;
$border-radius-l3: 35px;
$list-radius: 17px;



/*---------------------- FONTS Variables ----------------------*/

$main-font: "NT Somic";

$h1-size: 150px;
$h1-weight: 400;
$h1-height: 100%;

$h2-size: 42px;
$h2-weight: 800;
$h2-height: 100%;
$h2-letter-spacing: -.75px;

$h3-size: 21px;
$h3-weight: 600;
$h3-height: 140%;
$h3-letter-spacing: -.25px;

$t1-size: 14px;
$t1-weight: 400;
$t1-line-height: 150%;

$list-txt-size: 14px;
$list-txt-weight: 400;
$list-txt-height: 150%;
$list-addition-txt-weight: 600;



/*---------------------- ANIMATIONS Settings ----------------------*/

/*--- Blur animation ---*/
@keyframes blur{
  from {
    filter: blur(0) opacity(100%);
  }
  to {
    filter: blur(25px) opacity(50%);
  }
}



/*---------------------- BACKGROUND VIDEO Settings ----------------------*/

#background-video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  z-index: 0;
  animation: blur 2s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}



/*-------------- HERO Settings --------------*/

.hero-container {
  display: flex;
  flex-direction: column;
  margin: 25vh 0 20vh 0;
  width: fit-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#hero-logo {
  width: 300px;
  height: 100%;
  user-select: none;
}

#logo-subtitle {
  font-size: 90px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100%;
}

#logo-title {
  margin-top: 10px;
  font-size: 130px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
}

#logo-slogan {
  font-size: 52px;
  text-transform: none;
  font-weight: 400;
  line-height: 100%;
}



/*---------------------- CRADS GRID Settings ----------------------*/

.description-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 2550px;
  margin: 80px 0;
  padding: 0 10px;
  z-index: 1;
}

.description-card-xl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/img/test/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  aspect-ratio: 27/21;
  width: 100%;
  max-width: 1255px;
  border-radius: 20px;
  box-shadow: $shadow-l3;
}

.card-inscription-xl {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid $blured-white;
  border-radius: 20px;
  background-color: $blured-white;
  backdrop-filter: blur(65px);
  width: 100%;;
  padding: 0 20px;
  height: 25%;
  justify-content: center;
}

.card-inscription-xl p{
  max-width: 700px;
}

.description-card-xl button{
  margin-bottom: 10px;
  margin-left: 10px;
}



/*-------------- CARDS INDIVIDUAL settings --------------*/

#new-hotel-card-xl {
  background-image: url("../content/images/description-cards/hotel_mini.JPG");
  grid-column-start: 1;
  grid-column-end: 3;
  aspect-ratio: 54/21;
  max-width: 2530px;
  background-position-y: 85%;
}

#bathroom-card-xl {
  background-image: url("../content/images/description-cards/bathroom.jpg");
}

#grill-zone-card-xl {
  background-image: url("../content/images/description-cards/grill_mini.JPG");
}

#w-fi-card-xl {
  background-image: url("../content/images/description-cards/wi-fi.jpg");
}

#w-fi-card-xl > .card-inscription-xl{
  background: none;
  backdrop-filter: none;
  border: none;
}

#parking-zone-card-xl {
  background-image: url("../content/images/description-cards/parking-zone.jpg");
}

#parking-zone-card-xl > .card-inscription-xl{
  background: none;
  backdrop-filter: none;
  border: none;
}

#coffe-card-xl {
  background-image: url("../content/images/description-cards/coffe.jpg");
}

#terrace-card-xl {
  background-image: url("../content/images/description-cards/terrace.jpg");
}

#kids-zone-card-xl {
  background-image: url("../content/images/description-cards/kids_zone_mini.JPG");
}

#kitchen-card-xl {
  background-image: url("../content/images/description-cards/kitchen.jpg");
}

#beach-card-xl {
  background-image: url("../content/images/description-cards/beach.jpg");
}

#room-card-xl {
  background-image: url("../content/images/description-cards/room.jpg");
}



/*-------------- SERVICES Settings --------------*/

.services-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  align-items: center;
  gap: 40px;
}

#services-lists-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.list-container {
  width: 100%;
}



/*-------------- REVIEWS SWIPER Settings --------------*/

.reviews-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 80px 0;
}

.reviews-swiper-container{
  width: 100%;
}

#reviews-swiper {
  width: 100%;
  padding: 10px 0;
}

#reviews-swiper .swiper-slide {
  background: $white;
  height: calc((100% - 30px) / 2) !important;
  width: fit-content;
  border-radius: $border-radius-l2;
  box-shadow: $shadow-l1;
  padding: 20px;
  overflow: hidden;
}

.review-content-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  gap: 5px;
}

.review-text-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  text-overflow: ellipsis;
  height: 100%;
}

.review-date{
  color: $light-grey-color;
}



/*-------------- ADAPTIVITY Settings --------------*/

@media (max-width: 1024px){
  #hero-logo {
    width: 25.7vw; //300px
  }
  
  #logo-subtitle {
    font-size: 8.3vw; //90px
  }
  
  #logo-title {
    font-size: 12vw; //130px
  }
  
  #logo-slogan {
    font-size: 4.8vw; //52px
  }
  #services-lists-wrapper {
    padding: 0 10px;
  }
  .description-cards-grid, .services-container  {
    margin: 40px 0;
  }
  #reviews-swiper .swiper-slide {
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 937px){
  #services-lists-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .list-container{
    align-items: center;
    max-width: 500px;
    min-width: 449px;
  }
  .list-dot-l-no-s{
    justify-content: center;
  }
}

@media (max-width: 767px){
  .description-cards-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  #new-hotel-card-xl{
    grid-column: auto;
    aspect-ratio: 27 / 24;
  }
  .description-card-xl{
    aspect-ratio: 27 / 24;
  }
}

@media (max-width: 479px){
  .hero-container{
    margin: 30vh 0;
  }
  .list-container{
    min-width: 0;
    box-shadow: $shadow-l2;
    padding: 20px 10px 10px 10px;
    border-radius: $border-radius-l2;
  }
  .bubbles-list{
    gap: 20px;
  }
  .list-dot{
    justify-content: space-between;
    height: 62px;
    border-radius: 21px;
  }
  .card-inscription-xl{
    height: 35%;
  }
  .list-container h3{
    margin: 0;
  }
  .description-card-xl, #new-hotel-card-xl{
    aspect-ratio: 45 / 60;
  }
}

@media (max-width: 325px){
  .list-2-dot-addition-container .list-dot-addition{
    padding: 0px 5px;
  }
}



/*---------------------- DEVICES ADAPTIVITY Settings ----------------------*/

/* iPhone 5, 5S, 5C, 5 SE (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #hero-logo {
    width: 20vw;
  }
  
  #logo-subtitle {
    font-size: 6vw;
  }
  
  #logo-title {
    font-size: 8vw;
  }
  
  #logo-slogan {
    font-size: 4vw;
  }
}
 
/* iPhone 6, 6S, 7, 8, SE 2020 (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
  #hero-logo {
    width: 20vw;
  }
  
  #logo-subtitle {
    font-size: 6vw;
  }
  
  #logo-title {
    font-size: 8vw;
  }
  
  #logo-slogan {
    font-size: 4vw;
  }
}

/* iPhone 6+, 7+, 8+ (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
  #hero-logo {
    width: 20vw;
  }
  
  #logo-subtitle {
    font-size: 6vw;
  }
  
  #logo-title {
    font-size: 8vw;
  }
  
  #logo-slogan {
    font-size: 4vw;
  }
}

/* iPhone X, XS, 11 Pro, 13 mini (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3){ 
  #hero-logo {
    width: 17vw;
  }
  
  #logo-subtitle {
    font-size: 5vw;
  }
  
  #logo-title {
    font-size: 6vw;
  }
  
  #logo-slogan {
    font-size: 3vw;
  }
}

/* iPhone XS Max, XR, 11, 11 Pro Max (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3){
  #hero-logo {
    width: 17vw;
  }
  
  #logo-subtitle {
    font-size: 5vw;
  }
  
  #logo-title {
    font-size: 6vw;
  }
  
  #logo-slogan {
    font-size: 3vw;
  }
}

/* iPhone 12, 12 Pro, 13, 13 Pro (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3){
  #hero-logo {
    width: 17vw;
  }
  
  #logo-subtitle {
    font-size: 5vw;
  }
  
  #logo-title {
    font-size: 6vw;
  }
  
  #logo-slogan {
    font-size: 3vw;
  }
}

/* iPhone 12 Pro Max, 13 Pro Max (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3){
  #hero-logo {
    width: 17vw;
  }
  
  #logo-subtitle {
    font-size: 5vw;
  }
  
  #logo-title {
    font-size: 6vw;
  }
  
  #logo-slogan {
    font-size: 3vw;
  }
}

/* iPad (альбомный режим) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .hero-container{
    margin: 13vh 0;
  }
}