/*---------------------------- COLORS Variables ---------------------------*/
$white: whitesmoke;
$background-white: #F5F5F5;
$text-white: #FEFEFE;
$accent-color: #42D07A;
$dark-color: #1D1D1F;
$grey-color: #6E6E73;
$light-grey-color: #C7C7C7;
$disabled-accent-color: #84E0A8;
$red-color: #D14A41;
$blured-white: rgba(254, 254, 254, .50);
$blured-white-border: 2px solid rgba(254, 254, 254, .75);
$blur-fx: blur(100px);


/*---------------------- SHADOWS & BORDERS Variables ----------------------*/
$shadow-l1: 10px 10px 15px rgba(0, 0, 0, .15), -10px -10px 15px #FFFFFF; //10px 10px 15px rgba(0, 0, 0, .15), -10px -10px 15px #FFFFFF;
$shadow-l2: 5px 5px 10px rgba(0, 0, 0, .15), -5px -5px 10px #FFFFFF;
$shadow-l3: 3px 3px 7px rgba(0, 0, 0, .15), -3px -3px 7px #FFFFFF;
$shadow-green-l2: 5px 5px 10px #A1D0B4, -5px -5px 10px #FFFFFF;
$border-radius-h1: 35px;
$border-radius-h2: 25px;
$border-radius-buttons: 15px;
$list-radius: 30px;

/*---------------------- FONTS Variables ----------------------*/

$main-font: "NT Somic";

$h1-size: 150px;
$h1-weight: 400;
$h1-height: 100%;

$h2-size: 42px;
$h2-weight: 800;
$h2-height: 100%;

$h3-size: 24px;
$h3-weight: 800;
$h3-height: 140%;

$p-size: 16px;
$p-weight: 400;
$p-height: 150%;

$t1-size: 16px;
$t1-weight: 400;
$t1-line-height: 150%;

$t2-size: 16px;
$t2-weight: 400;
$t2-line-height: 150%;

$list-txt-size: 16px;
$list-txt-weight: 400;
$list-txt-height: 150%;
$list-addition-txt-weight: 600;

/*---------------------- CONTACTS Settings ----------------------*/
.contacts-container {
  display: flex;
  width: fit-content;
  align-items: center;
  height: 95vh;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}

/*---------------------- MAP Settings ----------------------*/
.map-block {
  width: 100%;
  height: 100%;
}

/*---------------------- CONTACTS BLOCK Settings ----------------------*/
.contacts-txt-container {
  background-color: $white;
  box-shadow: $shadow-l1;
  padding: 20px 40px;
  border-radius: $border-radius-h2;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  text-wrap: nowrap;
  display: none; 
}

.contacts-txt-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.contacts-title{
  color: $accent-color;
  font-size: $h3-size;
  font-weight: $h3-weight;
  line-height: $h3-height;
}

.contacts-text {
  font-size: $t1-size;
  font-weight: $t1-weight;
  line-height: $t1-line-height;
  cursor: pointer;
  text-decoration: none;
  color: $dark-color;
}

#contacts-address {
  text-wrap: wrap;
}

/*---------------------- ADAPTIVITY Settings ----------------------*/

/*@media (max-width: 1020px){
  .contacts-txt-container{
    display: none;
  }
  .contacts-container{
    width: 100%;
    max-width: 100vw;
    height: 95%
    margin: 0;
    padding: 0;
  }
  .map-block{
    border-radius: 0;
  }
}

@media (max-width: 479px){
  .contacts-txt-container{
    display: none;
  }
  .contacts-container{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .map-block{
    border-radius: 0;
  }
}*/