/*---------------------------- COLORS Variables ---------------------------*/
$white: #F9F9FB;
$background-white: #F9F9FB;
$accent-color: #42D07A;
$dark-color: #1D1D1F;
$grey-color: #6E6E73;
$light-grey-color: #C7C7C7;
$disabled-accent-color: #84E0A8;
$red-color: #D14A41;
$blured-white: rgba(254, 254, 254, .50);
$blured-white-border: 2px solid rgba(254, 254, 254, .75);
$blur-fx: blur(100px);


/*---------------------- SHADOWS & BORDERS Variables ----------------------*/
$shadow-l1: 10px 10px 20px #d4d4d5, -10px -10px 20px #FFFFFF;
$shadow-l2: 5px 5px 10px #d4d4d5, -5px -5px 10px #FFFFFF;
$shadow-l3: 3px 3px 7px #d4d4d5, -3px -3px 7px #FFFFFF;
$shadow-green-l2: 5px 5px 15px #A1D0B4, -5px -5px 15px #FFFFFF;
$border-radius-h1: 35px;
$border-radius-h2: 25px;
$border-radius-buttons: 15px;
$list-radius: 30px;

/*---------------------- FONTS Variables ----------------------*/

$main-font: "NT Somic";

$h1-size: 150px;
$h1-weight: 400;
$h1-height: 100%;

$h2-size: 42px;
$h2-weight: 800;
$h2-height: 100%;

$h3-size: 24px;
$h3-weight: 800;
$h3-height: 140%;

$p-size: 16px;
$p-weight: 400;
$p-height: 150%;

$t1-size: 16px;
$t1-weight: 400;
$t1-line-height: 150%;

$t2-size: 16px;
$t2-weight: 400;
$t2-line-height: 150%;

$list-txt-size: 16px;
$list-txt-weight: 400;
$list-txt-height: 150%;
$list-addition-txt-weight: 600;

.galery-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 120px 0 80px 0;
}

/*---------------------- SWIPER Variables ----------------------*/
#galery-swiper {
  width: 1000px;
  height: 580px;
  border-radius: $border-radius-h2;
}

#galery-swiper-wrapper {
  width: 100%;
  height: 100%;
  user-select: none;
}

.swiper-button-next {
  background-color: $accent-color;
  border-radius: $border-radius-buttons;
  border: none;
  height: fit-content;
  width: fit-content;
  max-height: 48px;
  cursor: pointer;
}

.swiper-button-prev {
  background-color: $accent-color;
  border-radius: $border-radius-buttons;
  border: none;
  height: fit-content;
  width: fit-content;
  max-height: 48px;
  cursor: pointer;
}

#icon-button::after {
  content: none;
}

.swiper-button-next {
  background-color: $accent-color;
  user-select: none;
}

.swiper-button-prev {
  background-color: $accent-color;
  user-select: none;
}

#galery-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
  background-color: $blured-white;
  backdrop-filter: $blur-fx;
  border-radius: $list-radius;
  padding: 10px;
}