/*---------------------------- COLORS Variables ---------------------------*/
$white: whitesmoke; //#EBEBEB
$background-white: #F5F5F5;
$text-white: #FEFEFE;
$accent-color: #42D07A;
$dark-color: #1D1D1F;
$grey-color: #6E6E73;
$light-grey-color: #C7C7C7;
$disabled-accent-color: #84E0A8;
$red-color: #D14A41;
$blured-white: rgba(254, 254, 254, .50);
$blured-white-border: 2px solid rgba(254, 254, 254, .75);
$blur-fx: blur(100px);


/*---------------------- SHADOWS & BORDERS Variables ----------------------*/
$shadow-l1: 10px 10px 15px rgba(0, 0, 0, .15), -10px -10px 15px #FFFFFF; //10px 10px 15px rgba(0, 0, 0, .15), -10px -10px 15px #FFFFFF;
$shadow-l2: 5px 5px 10px rgba(0, 0, 0, .15), -5px -5px 10px #FFFFFF;
$shadow-l3: 3px 3px 7px rgba(0, 0, 0, .15), -3px -3px 7px #FFFFFF;
$shadow-green-l2: 5px 5px 10px #A1D0B4, -5px -5px 10px #F3F9F3;
$border-radius-h1: 35px;
$border-radius-h2: 25px;
$border-radius-buttons: 15px;
$list-radius: 30px;

/*---------------------- FONTFACE Settings ----------------------*/
@font-face {
  font-weight: 800;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic-bold.woff2");
  src: local("NT Somic Bd"), url("../../fonts/nt_somic/woff2/ntsomic_bold.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic_bold.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic_bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic-semibold.woff2");
  src: local("NT Somic SmBd"), url("../../fonts/nt_somic/woff2/ntsomic_semibold.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic_semibold.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic_semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic_medium.woff2");
  src: local("NT Somic Md"), url("../../fonts/nt_somic/woff2/ntsomic_medium.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic_medium.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic_medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: "NT Somic";
  font-style: normal;
  src: url("../../fonts/nt_somic/eot/ntsomic_regular.woff2");
  src: local("NT Somic Rg"), url("../../fonts/nt_somic/woff2/ntsomic_regular.woff2") format("web2"), url("../../fonts/nt_somic/otf/ntsomic_regular.otf") format("opentype"), url("../../fonts/nt_somic/ttf/ntsomic_regular.ttf") format("truetype");
  font-display: swap;
}

/*---------------------- FONTS Variables ----------------------*/

$main-font: "NT Somic";

$h1-size: 150px;
$h1-weight: 400;
$h1-height: 100%;

$h2-size: 42px;
$h2-weight: 800;
$h2-height: 100%;

$h3-size: 24px;
$h3-weight: 800;
$h3-height: 140%;

$p-size: 16px;
$p-weight: 400;
$p-height: 150%;

$t1-size: 16px;
$t1-weight: 400;
$t1-line-height: 150%;

$t2-size: 16px;
$t2-weight: 400;
$t2-line-height: 150%;

$list-txt-size: 16px;
$list-txt-weight: 400;
$list-txt-height: 150%;
$list-addition-txt-weight: 600;

/*---------------------- GENERAL Settings ----------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  color: $text-white;
  background-color: $accent-color;
}

html, body {
  position: absolute;
  background-color: $background-white;
  width: 100%;
  color: $dark-color;
  font-family: $main-font;
  scroll-behavior: smooth;
  animation: appear 1.5s;
  animation-timing-function:cubic-bezier(0.85, 0, 0.15, 1);
}

/*--- Appear animation ---*/
@keyframes appear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.neumorphism-l1{
  box-shadow: $shadow-l1;
}

.neumorphism-l2{
  box-shadow: $shadow-l2;
}

.neumorphism-l2-green{
  box-shadow: $shadow-green-l2;
}

/*---------------------- TITLES Settings ----------------------*/
h1 {
  font-size: $h1-size;
  line-height: $h1-height;
  font-weight: $h1-weight;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  line-height: $h2-height;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
  line-height: $h3-height;
}

p {
  font-size: $p-size;
  font-weight: $p-weight;
  line-height: $p-height;
}

/*---------------------- BUTTONS Settings ----------------------*/
button {
  background-color: $accent-color;
  border-radius: $border-radius-buttons;
  color: $text-white;
  border: none;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all .15s ease-out;
}

button.disabled {
  background-color: $white;
  color: $grey-color;
  box-shadow: $shadow-l2;
}

button.active {
  background-color: $accent-color;
}

.text-button {
  padding: 11px 21px;
  font-size: 14px;
  font-weight: $t1-weight;
  line-height: 155%;
  color: $text-white;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.icon-button {
  height: fit-content;
  width: fit-content;
  display: flex;
  border-radius: $border-radius-buttons;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.bordered-button{
  height: fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 3px solid $accent-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.icon-bordered-button{
  height: fit-content;
  width: fit-content;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 3px solid $accent-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.text-icon-button {
  padding: 11px 21px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: $text-white;
  font-size: 14px;
  font-weight: $t1-weight;
  line-height: 155%;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.close-window-button{
  background-color: $white;
  position: absolute;
  right: 10px;
  top: 10px;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.text-button:hover {
  transform: scale(1.05);
}

#button-txt-down-icon:hover .s-icon-container{
  transform: translateY(3px);
}

#button-left-icon:hover .l-icon-container{
  transform: translateX(-2px);
}

#button-right-icon:hover .l-icon-container{
  transform: translateX(2px);
}

#button-left-icon:active .l-icon-container{
  transform: translateX(-4px);
}

#button-right-icon:active .l-icon-container{
  transform: translateX(4px);
}

.icon-button:hover .l-icon-container{
  transform: scale(1.25,1.25);
}

.s-icon-container {
  height: 13px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.l-icon-container {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  transition-duration: 0.15s;
  transition-timing-function: ease-out;

}

/*---------------------- HEADER Settings ----------------------*/
header {
  z-index: 5;
  position: fixed;
  top: 57px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 25px;
  border-radius: 27px;
  width: 100%;
  max-width: 1000px;
  min-width: 834px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

header a{
  text-decoration: none;
  color: $dark-color;
  font-size: 14px;
  font-weight: $t2-weight;
  line-height: $t2-line-height;
  text-wrap: nowrap;
}

.navi {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
  width: fit-content;
}

header a:hover {
  color: black;
}
.navi a:hover {
  color: black;
}

/*---------------------- FOOTER Settings ----------------------*/
footer {
  background-color: $accent-color;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  width: 100%;
  padding: 30px 0;
  font-size: 14px;
  line-height: $t2-line-height;
  font-weight: $t2-weight;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1020px;
  padding: 0 10px;
  width: 100%;
  height: fit-content;
  gap: 20px;
}

.footer-copyright-container {
  height: 100%;
  align-self: flex-end;
}

.footer-copyright-container a{
  text-decoration: none;
  color: $text-white;
}

.footer-copyright-container a::selection {
  color: $accent-color;
  background-color: $white;
}

.footer-social-media-icons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  align-self: flex-end;
  user-select: none;
}

.footer-social-media-icons-container a {
  height: fit-content;
  line-height: 0;
}

.footer-social-media-icons-container img{
  width: 35px;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: right;
  text-wrap: wrap;
  align-self: flex-end;
}

.footer-contacts-container a{
  text-decoration: none;
  color: $text-white;
}

.footer-contacts-container a::selection {
  color: $accent-color;
  background-color: $white;
}



/*---------------------- list LIST Settings ----------------------*/
.list-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  gap: 20px;
}

.list-container h3{
  margin-left: 15px;
}

.bubbles-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.list-dot {
  display: flex;
  flex-direction: row;
  background-color: $white;
  color: $grey-color;
  box-shadow: $shadow-l3;
  border-radius: $list-radius;
  width: fit-content;
  height: fit-content;
  align-items: center;
  font-size: $list-txt-size;
  font-weight: $list-txt-weight;
  line-height: $list-txt-height;
  padding: 5px 15px;
  gap: 5px;
}

#calendar-description-list-dot{
  text-overflow: ellipsis;
  min-width: 190px;
}

.list-text{
  height: fit-content;
}

.list-2-dot-addition-container{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-items: center;
  height: 100%;
  gap: 5px;
}

.list-dot-addition {
  background-color: $accent-color;
  width: fit-content;
  height: 100%;
  align-content: center;
  border-radius: $list-radius;
  color: $text-white;
  font-size: $list-txt-size;
  font-weight: $list-addition-txt-weight;
  line-height: $list-txt-height;
  padding: 1px 15px;
  margin-left: 5px;
  text-wrap: nowrap;
}

.list-dot-addition::selection {
  color: $accent-color;
  background-color: $white;
}

.list-dot-l-no-s{
  padding: 5px 15px;
  width: 100%;
  justify-content: space-between;
}

.list-dot-l-1-s {
  padding: 4px 4px 4px 15px;
  width: 100%;
  justify-content: space-between;
}

.list-dot-l-2-s{
  padding: 4px 4px 4px 15px;
  width: 100%;
  justify-content: space-between;
}

.list-dot-c-1-s {
  padding: 4px 4px 4px 15px;
}

.list-dot-c-1-s .list-dot-addition{
  margin: 0 0 0 5px;
}

.list-dot-c-no-l {
  background-color: $accent-color;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: $text-white;
  font-size: $list-txt-size;
  font-weight: $list-txt-weight;
  line-height: $list-txt-height;
}

/*---------------------- TEST ----------------------*/
@media screen and (max-height: 880px){
  #page-title{
    display: none;
  }
}

/*---------------------- ADAPTIVITY Settings ----------------------*/

@media (max-width: 1020px){
  header{
    top: 20px;
    left: 0;
    transform: none;
    margin: 0 10px;
    width: 100%;
    max-width: calc(100% - 20px);
  }
}