/*---------------------------- COLORS Variables ---------------------------*/

$white: whitesmoke;
$background-white: whitesmoke;
$text-white: #FEFEFE;
$accent-color: #42D07A;
$dark-color: #1D1D1F;
$grey-color: #6E6E73;
$light-grey-color: #C7C7C7;
$disabled-accent-color: #84E0A8;
$red-color: #D14A41;
$blured-white: rgba(245, 245, 245, .65);
$blured-white-border: 2px solid rgba(245, 245, 245, .75);
$blur-fx: blur(150px);



/*---------------------- SHADOWS & BORDERS Variables ----------------------*/

$shadow-l1: 3px 3px 7px rgba(0, 0, 0, .15), -3px -3px 7px #FFFFFF;
$shadow-l2: 5px 5px 10px rgba(0, 0, 0, .15), -5px -5px 10px #FFFFFF;
$shadow-l3: 10px 10px 15px rgba(0, 0, 0, .15), -10px -10px 15px #FFFFFF;
$shadow-green-l2: 5px 5px 10px #A1D0B4, -5px -5px 10px #FFFFFF;
$border-radius-l1: 15px;
$border-radius-l2: 25px;
$border-radius-l3: 35px;
$list-radius: 17px;



/*---------------------- FONTS Variables ----------------------*/

$main-font: "NT Somic";

$h1-size: 150px;
$h1-weight: 400;
$h1-height: 100%;

$h2-size: 42px;
$h2-weight: 800;
$h2-height: 100%;
$h2-letter-spacing: -.75px;

$h3-size: 21px;
$h3-weight: 600;
$h3-height: 140%;
$h3-letter-spacing: -.25px;

$t1-size: 14px;
$t1-weight: 400;
$t1-line-height: 150%;

$list-txt-size: 14px;
$list-txt-weight: 400;
$list-txt-height: 150%;
$list-addition-txt-weight: 600;



#reviews-title {
  margin-top: 150px;
}



/*---------------------- REVIEW LIST Settings ----------------------*/

.reviews-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  height: 100%;
  width: fit-content;
  margin: 120px auto 0 auto;
  overflow-y: scroll;
  scrollbar-width: none;
}



/*---------------------- REVIEW CARD Settings ----------------------*/

.review-user-avatar {
  background: url("../content/components-icons/user-sample.jpg");
  min-width: 163px;
  width: 163px;
  aspect-ratio: 1 / 1;
  border-radius: $border-radius-l1;
}

.review-card {
  display: flex;
  flex-direction: row;
  width: 1000px;
  gap: 10px;
  padding: 10px;
  background-color: $white;
  border-radius: $border-radius-l2;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-txt-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.review-user-name {
  font-size: $h3-size;
  font-weight: $h3-weight;
  line-height: $h3-height;
}

.review-txt {
  font-size: $t1-size;
  font-weight: $t1-weight;
  line-height: $t1-line-height;
}

.review-date{
  font-size: $t1-size;
  font-weight: $t1-weight;
  line-height: $t1-line-height;
  color: $light-grey-color;
}