/*---------------------------- COLORS Variables ---------------------------*/
$white: #FEFEFE;
$accent-color: #46BF76;
$dark-color: #1D1D1F;
$grey-color: #6E6E73;
$light-grey-color: #C7C7C7;
$disabled-accent-color: #73CD97;
$red-color: #D14A41;
$blured-white: rgba(254, 254, 254, .25);
$blured-white-border: 2px solid rgba(254, 254, 254, .95);
$blur-fx: blur(100px);


/*---------------------- SHADOWS & BORDERS Variables ----------------------*/
$shadow: 0 0 10px rgba(20, 63, 37, .2);
$border-radius-h1: 40px;
$border-radius-h2: 20px;
$border-radius-buttons: 17px;
$bubble-radius: 25px;

/*---------------------- FONTS Variables ----------------------*/

$main-font: "NT Somic";

$h1-size: 150px;
$h1-weight: 400;
$h1-height: 100%;

$h2-size: 48px;
$h2-weight: 800;
$h2-height: 100%;

$h3-size: 28px;
$h3-weight: 600;
$h3-height: 140%;

$p-size: 17px;
$p-weight: 400;
$p-height: 150%;

$t1-size: 17px;
$t1-weight: 400;
$t1-line-height: 150%;

$t2-size: 14px;
$t2-weight: 400;
$t2-line-height: 150%;

$bubble-txt-size: 17px;
$bubble-txt-weight: 400;
$bubble-txt-height: 100%;

$bubble-addition-txt-size: 17px;
$bubble-addition-txt-weight: 600;
$bubble-addition-txt-height: 100%;

#reviews-title {
  margin-top: 150px;
}

/*---------------------- REVIEW LIST Settings ----------------------*/
.reviews-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 71vh;
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
  overflow-y: scroll;
  scrollbar-width: none;
}

/*---------------------- REVIEW CARD Settings ----------------------*/
.review-user-avatar {
  background: url("../content/components-icons/user-sample.jpg");
  min-width: 163px;;
  width: 163px;
  aspect-ratio: 1 / 1;
  border-radius: $border-radius-h2;
}

.review-card {
  display: flex;
  flex-direction: row;
  width: 1000px;
  gap: 10px;
  padding: 20px;
  background-color: $white;
  box-shadow: $shadow;
  border-radius: $border-radius-h1;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-txt-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.review-user-name {
  font-size: $h3-size;
  font-weight: $h3-weight;
  line-height: $h3-height;
}

.review-txt {
  font-size: $t1-size;
  font-weight: $t1-weight;
  line-height: $t1-line-height;
}

.review-date{
  font-size: $t1-size;
  font-weight: $t1-weight;
  line-height: $t1-line-height;
  color: $grey-color;
}