/*---------------------------- COLORS Variables ---------------------------*/

$white: whitesmoke;
$background-white: whitesmoke;
$text-white: #FEFEFE;
$accent-color: #42D07A;
$dark-color: #1D1D1F;
$grey-color: #6E6E73;
$light-grey-color: #C7C7C7;
$disabled-accent-color: #84E0A8;
$red-color: #D14A41;
$blured-white: rgba(245, 245, 245, .65);
$blured-white-border: 2px solid rgba(245, 245, 245, .75);
$blur-fx: blur(150px);



/*---------------------- SHADOWS & BORDERS Variables ----------------------*/

$shadow-l1: 3px 3px 7px rgba(0, 0, 0, .15), -3px -3px 7px #FFFFFF;
$shadow-l2: 5px 5px 10px rgba(0, 0, 0, .15), -5px -5px 10px #FFFFFF;
$shadow-l3: 10px 10px 15px rgba(0, 0, 0, .15), -10px -10px 15px #FFFFFF;
$shadow-green-l2: 5px 5px 10px #A1D0B4, -5px -5px 10px #FFFFFF;
$border-radius-l1: 15px;
$border-radius-l2: 25px;
$border-radius-l3: 35px;
$list-radius: 17px;



/*---------------------- FONTS Variables ----------------------*/

$main-font: "NT Somic";

$h1-size: 150px;
$h1-weight: 400;
$h1-height: 100%;

$h2-size: 42px;
$h2-weight: 800;
$h2-height: 100%;
$h2-letter-spacing: -.75px;

$h3-size: 21px;
$h3-weight: 600;
$h3-height: 140%;
$h3-letter-spacing: -.25px;

$t1-size: 14px;
$t1-weight: 400;
$t1-line-height: 150%;

$list-txt-size: 14px;
$list-txt-weight: 400;
$list-txt-height: 150%;
$list-addition-txt-weight: 600;



/*---------------------- ANIMATIONS Settings ----------------------*/

/*--- Appear animation ---*/
@keyframes roomContainerAppear{
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}



.rooms-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  padding: 120px 0 80px 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}



/*---------------------- ROOMS NAVIGATION Settings ----------------------*/

.rooms-navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 20px;
}

.rooms-buttons-chain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: fit-content;
  width: fit-content;
  gap: 20px;
  user-select: none;
}



/*---------------------- ROOM GALERY Settings ----------------------*/

.room-info-container {
  width: 100%;
  max-width: 100vw;
  height: fit-content;
  animation: roomContainerAppear .4s;
  animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}

.room-card-galery-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: $border-radius-l3;
  box-shadow: $shadow-l3;
  margin: 0 auto;
  margin-top: 300px;
}



/*---------------------- SWIPER Settings ----------------------*/

.swiper{
  border-radius: 35px;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16 / 10;
  box-shadow: $shadow-l3;
}

.room-swiper {
  width: 100%;
  //height: 625px;
  border-radius: $border-radius-l3;
}

.room-swiper-wrapper {
  user-select: none;
}

#icon-button::after {
  content: none;
}

.swiper-button-next {
  background-color: $accent-color;
  user-select: none;
}

.swiper-button-prev {
  background-color: $accent-color;
  user-select: none;
}

.room-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  left: 50% !important;
  transform: translate(-50%);
  background-color: $white;
  border-radius: $list-radius;
  padding: 10px;
}


/*---------------------- ROOM DESCRIPTION Settings ----------------------*/

.room-description-container {
  z-index: 100;
  background-color: $white;
  border: none;
  border-radius: $border-radius-l2;
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.15, 0.35, 0.2, 0.95);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
}

.room-description-content-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  gap: 15px;
}

.room-description-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.open-description-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: calc(100% + 10px);
}

.mobile-description {
  display: none;
  background-color: $white;
  width: 100%;
  height: fit-content;
  transform: translateY(0);
  position: relative;
  top: 40px;
  left: 0;
  box-shadow: $shadow-l2;
}

.close-room-description-button{
  background-color: $white;
  position: absolute;
  right: 10px;
  top: 10px;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}



/*---------------------- ROOM ACTION ELEMENTS Settings ----------------------*/

.room-action-elements-container {
  width: calc(100% - 20px);
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 10px;
}

.room-order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: $border-radius-l2;
  background-color: $white;
}

#room-slider-order-button {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
}

.calendar-description-list-dot {
  width: calc(50% - 10px);
  min-width: 355px;
  gap: 0;
  justify-content: space-between; 
}

.action-elements-room-description-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  align-items: end;
}



/*---------------------- ADAPTIVITY Settings ----------------------*/

@media (max-width: 1024px){
  .room-info-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: fit-content;
    gap: 20px;
  }
  .room-description-container{
    display: none;
    z-index: 1;
  }
  .mobile-description{
    display: flex;
  }
  .swiper{
    border-radius: $border-radius-l2;
  }
  .mobile-description h2{
    display: none;
  }
}

@media (max-width: 1000px) {
  .room-description-calendar-list {
    flex-direction: row;
    flex-wrap: wrap;
    text-wrap: nowrap;
  }
  .room-order-container{
    background: none;
    padding: 0;
  }
}

@media (max-width: 767px){
  .swiper{
    aspect-ratio: 16 / 12;
  }
  .room-description-grid{
    flex-direction: column;
  }
  .mobile-description{
    top: 20px;
    gap: 40px;
  }
  .room-description-content-container h3, .mobile-description h2{
    text-align: start;
  }
  #calendar-description-list-dot{
    width: 100%;
  }
  .list-dot{
    width: 100%;
    justify-content: space-between;
    height: 62px;
    border-radius: 21px;
  }
}

@media (max-width: 525px){
  .rooms-navigation-container{
    width: 100%;
  }
  .rooms-buttons-chain{
    gap: 0;
    border-radius: $border-radius-l1;
    overflow: hidden;
    box-shadow: $shadow-l2;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    width: calc(100% - 20px);
    justify-content: space-between;
  }
  .rooms-dot, .rooms-dot.disabled{
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  .rooms-dot{
    background: linear-gradient(145deg, #47df83, #3bbb6e);
  }
  .rooms-dot.disabled{
    background: none;
  }
  .list-dot{
    width: 100%;
    justify-content: space-between;
    height: 62px;
  }
}

@media (max-width: 479px){
  .rooms-container{
    margin-top: 60px;
    padding-top: 0;
  }
  .list-container{
    min-width: 0;
  }
  .list-container h3{
    margin: 0;
  }

  .list-dot{
    justify-content: space-between;
    height: 62px;
    border-radius: 21px;
    width: 100%;
    min-width: 279px;
  }

  .list-dot-l-1-s .list-text{
    text-wrap: wrap;
  }

  #calendar-description-list-dot{
    width: 100%;
    min-width: 0;
  }

  .rooms-dot{
    padding: 11px;
  }
  .swiper{
    aspect-ratio: 16/17;
  }
  .room-action-elements-container{
    display: none;
  }
  .room-description-container{
    padding: 15px 10px 10px 10px;
  }
  .action-elements-room-description-container{
    justify-content: center;
  }
  .swiper-wrapper img{
    width: auto;
    height: 100%;
  }
  .mobile-description, .room-description-content-container{
    align-items: center;
  }
  .room-description-content-container h3, .mobile-description h2{
    text-align: center;
  }

  .mobile-description{
    box-shadow: none;
    padding: 0;
  }

  .room-description-content-container{
    min-width: 0;
    width: 100%;
    box-shadow: $shadow-l2;
    padding: 10px;
    border-radius: $border-radius-l2;
  }
}

@media (max-width: 390px){
  .rooms-dot{
    padding: 11px 0px;
    width: 100%;
  }
}

@media (max-width: 330px){
  .rooms-dot{
    font-size: 12px;
  }
}



/*---------------------- DEVICES ADAPTIVITY Settings ----------------------*/

/* iPhone 5, 5S, 5C, 5 SE (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .rooms-container{
    padding-top: 60px;
  }
  .swiper {
    aspect-ratio: 17 / 9;
    width: 90vw;
  }
}
 
/* iPhone 6, 6S, 7, 8, SE 2020 (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
  .rooms-container{
    padding-top: 60px;
  }
  .swiper {
    aspect-ratio: 17 / 9;
    width: 90vw;
  }
}

/* iPhone 6+, 7+, 8+ (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
  .rooms-container{
    padding-top: 60px;
  }
  .swiper {
    aspect-ratio: 17 / 9;
    width: 90vw;
  }
}

/* iPhone X, XS, 11 Pro, 13 mini (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
  .rooms-container{
    padding-top: 60px;
  }
  .swiper {
    aspect-ratio: 17 / 9;
    width: 75vw;
  }
}

/* iPhone XS Max, XR, 11, 11 Pro Max (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3){
  .rooms-container{
    padding-top: 60px;
  }
  .swiper {
    aspect-ratio: 17 / 9;
    width: 75vw;
  }
}

/* iPhone 12, 12 Pro, 13, 13 Pro (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3){
  .rooms-container{
    padding-top: 60px;
  }
  .swiper {
    aspect-ratio: 17 / 9;
    width: 75vw;
  }
}

/* iPhone 12 Pro Max, 13 Pro Max (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3){
  .rooms-container{
    padding-top: 60px;
  }
  .swiper {
    aspect-ratio: 17 / 9;
    width: 75vw;
  }
}

/* iPad (альбомный режим) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .rooms-container{
    padding-top: 60px;
  }
}